* {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.paginaPrincipal{
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-areas: "cabecera cabecera cabecera cabecera"
    "informacion informacion resumen resumen"
    "formacion formacion resumen resumen"
    "experiencia experiencia habilidades habilidades"
    "experiencia experiencia idioma idioma";
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 0.5fr 0.5fr;
}

head{
    grid-area: cabecera;
}

.informacionBasica{
    grid-area: informacion;
}

.formacion{
    grid-area: formacion;
}

.resumen{
    grid-area: resumen;
}

.experiencia{
    grid-area: experiencia;
}

.habilidades{
    grid-area: habilidades;
}

.idioma{
    grid-area: idioma;
}


