* {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 5px 5px;
    padding: 5px 5px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.paginaPrincipal{
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-areas: "cabecera cabecera cabecera cabecera"
    "informacion informacion resumen resumen"
    "formacion formacion resumen resumen"
    "experiencia experiencia habilidades habilidades"
    "experiencia experiencia idioma idioma";
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 0.5fr 0.5fr;
}

.cabecera{
    grid-area: cabecera;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: aqua;
    border: 2.5px solid black;
}

.informacionBasica{
    grid-area: informacion;
    background-color: aquamarine;
    border: 2.5px solid black;
}

.formacion{
    grid-area: formacion;
    background-color: red;
    border: 2.5px solid black;
}

.resumen{
    grid-area: resumen;
    background-color: brown;
    border: 2.5px solid black;
}

.experiencia{
    grid-area: experiencia;
    background-color: blueviolet;
    border: 2.5px solid black;
}

.habilidades{
    grid-area: habilidades;
    background-color: green;
    border: 2.5px solid black;
}

.idiomas{
    grid-area: idioma;
    background-color: greenyellow;
    border: 2.5px solid black;
}


